body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    box-shadow: 0px 0px 4px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
}

/* logo */
.header .logo .rivon-logo {
    width: 170px;
    height: 50px;
}

/* header list */
.header .header-list .list-item {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.header .header-list .list-item a {
    text-decoration: none;
    color: black;
    transition: color ease 0.4s;
}

.header .header-list .list-item a:hover {
    color: #505656;
}

/* icons */
.header .icons {
    margin-right: 60px;
}

.header .icons .header-icon {
    margin-right: 5px;
    cursor: pointer;
    transition: color ease 0.4s;
}

.header .icons .header-icon:hover {
    color: #505656;
}

/* MAIN */
.main {
    margin-top: 50px;
}

/* carousel */
.main .carousel #carouselExample .carousel-inner .carousel-item {
    height: 600px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active {
    opacity: 1;
}

.main .carousel-inner .carousel-item:first-child {
    background-image: url("https://i.postimg.cc/Y0XzT9Wg/hero-image-size-1-2.jpg");
}

.main .carousel-inner .carousel-item:nth-child(2) {
    background-image: url("https://i.postimg.cc/g2yn07gt/hero-image-size-2.jpg");
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active .carousel-text {
    display: flex;
    flex-direction: column;
    margin-right: 350px;
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active .carousel-text h1 {
    font-size: 50px;
    color: black;
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active .carousel-text p {
    font-size: 20px;
    color: #414646;
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active .carousel-text .discover-btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    width: 180px;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

/* 4 cards */
.main .four-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.main .four-cards .card-1,
.main .four-cards .card-2,
.main .four-cards .card-3,
.main .four-cards .card-4 {
    display: flex;
    align-items: center;
}

.main .four-cards .card-1 .car-icon,
.main .four-cards .card-2 .gift-icon,
.main .four-cards .card-3 .crown-icon,
.main .four-cards .card-4 .card-icon {
    font-size: 35px;
    margin-right: 20px;
    color: #414646;
}

.main .four-cards .card-1 h5,
.main .four-cards .card-2 h5,
.main .four-cards .card-3 h5,
.main .four-cards .card-4 h5 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.main .four-cards .card-1 p,
.main .four-cards .card-2 p,
.main .four-cards .card-3 p,
.main .four-cards .card-4 p {
    margin: 0;
    font-size: 14px;
    color: #505656;
}

/* featured products */
.main .products {
    margin-top: 100px;
}

.main .products h1 {
    text-align: center;
    margin-top: 50px;
    color: black;
}

.main .products p {
    text-align: center;
    margin-top: 20px;
    color: #414646;
    font-size: 15px;
}

.main .products .cards .card-wrapper .card {
    margin-top: 50px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .products .cards .card-wrapper .card:hover {
    transform: scale(1.02);
}

.main .products .cards .card-wrapper .card .card-img {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 4px;
}

.main .products .cards .card-wrapper .card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .products .cards .card-wrapper .card .card-img .heart-icon,
.main .products .cards .card-wrapper .card .card-img .shopping-basket-icon {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    color: black;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.main .products .cards .card-wrapper .card .card-img .heart-icon {
    right: 50px;
}

.main .products .cards .card-wrapper .card .card-body .card-title {
    font-size: 16px;
    color: black;
    text-align: center;
}

.main .products .cards .card-wrapper .card .card-body .card-text {
    font-size: 15px;
}

/* shop cards */
.main .shop-cards {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.main .shop-cards .card-item .card-img img {
    max-width: 100%;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    margin-right: 10px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.main .shop-cards .card-item .card-img img:hover {
    transform: scale(1.02);
}

.main .shop-cards .card-item {
    position: relative;
}


.main .shop-cards .card-item .card-text {
    position: absolute;
}

.main .shop-cards .card-item .card-text.text-position {
    top: 135px;
    left: 30px;
}

.main .shop-cards .card-item .card-text span {
    font-size: 16px;
    color: #414646;
}

.main .shop-cards .card-item .card-text .title {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: black;
}

.main .shop-cards .card-item .card-text .button-wrap .shop-btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    width: 180px;
    padding: 5px 15px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
}

/* banner */
.main .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.main .banner .banner-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-color: #e4e3e3;
    width: 700px;
    height: 400px;
}

.main .banner .banner-body p {
    font-size: 15px;
    color: #414646;
}

.main .banner .banner-body h1 {
    font-size: 70px;
    color: black;
}

.main .banner .banner-body .banner-btn {
    border: 1px solid #222626;
    border-radius: 4px;
    background-color: #e4e3e3;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 14px;
}


/* logo list */
.main .logo-list {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e7e7e7;
    padding: 20px 10px;
}

.main .logo-list .logo-list-images img {
    margin-left: 110px;
}

/* shop the look */
.main .shop-look .container {
    margin-top: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main .shop-look .container .look-text h1 {
    font-size: 40px;
    color: black;
}

.main .shop-look .container .look-text p {
    margin-top: 20px;
    color: #414646;
    font-size: 14px;
}

.main .shop-look .container .look-text .discover-btn {
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    width: 180px;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

/* swiper */
.main .swiper {
    width: 1200px;
    margin-top: 80px;
}

.main .swiper .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 370px;
    padding: 10px;
    background-color: #f3f3f3;
}

.main .swiper .swiper-wrapper .swiper-slide .swiper-img .slide-img {
    width: 100px;
    height: 100px;
}

.main .swiper .swiper-wrapper .swiper-slide .swiper-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .swiper .swiper-wrapper .swiper-slide .swiper-body .position {
    margin-top: 15px;
}

.main .swiper .swiper-wrapper .swiper-slide .swiper-body .name {
    font-weight: bold;
    font-size: 17px;
}

.main .swiper .swiper-wrapper .swiper-slide .swiper-body .address {
    font-size: 14px;
    color: #505656;
}

.main .swiper .swiper-button-next,
.main .swiper .swiper-button-prev {
    color: #333;
}

/* arrow up */
#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 3px 10px;
    display: none;
    transition: all 0.4s ease;
}

#scrollTopBtn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 25px;
    padding: 3px 10px;
}


/* FOOTER */
.footer {
    box-shadow: 0px 0px 4px 0px;
    padding: 30px 0px;
    margin-top: 50px;
    background-color: #e1f3f2;
}

.footer .footer-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}

.footer .footer-body .footer-item .footer-title {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.footer .footer-body .footer-item p {
    font-weight: bold;
    color: #414646;
}

.footer .footer-body .footer-item .footer-list {
    margin: 0;
    padding: 0;
}

.footer .footer-body .footer-item .footer-list .footer-list-item {
    list-style: none;
    margin-bottom: 7px;
}

.footer .footer-body .footer-item .footer-list .footer-list-item a {
    text-decoration: none;
    color: black;
    transition: color ease 0.3s;
}

.footer .footer-body .footer-item .footer-list .footer-list-item a:hover {
    color: #414646;
}

.footer .footer-body .footer-item .footer-form .email-input {
    border: 0;
    border-bottom: 1px solid #414646;
    margin-top: 5px;
    margin-right: 5px;
    line-height: 30px;
    background-color: #e1f3f2;
}

.footer .footer-body .footer-item .footer-form .subscribe-btn {
    border: 1px solid #505656;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    background-color: black;
}

.footer .footer-end p {
    text-align: center;
}